@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
    margin: 0;
    padding: 0;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul, li{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
button{
	cursor: pointer;
	border: 0;
	clear: both;
}
body{
	margin: 0 auto;
	background-color: #fff;
	font-family: "Nanum Gothic", sans-serif;
    font-size: 15px;
	color: #666;
}
.mt10{
	margin-top: 10px;
}
mt20{
    margin-top: 20px;
}
.mt100{
	margin-top: 100px;
}
.clear{
	clear: both;
	position: inherit;
}
/* popup*/
#screen, #notice, #modal, #login-popup {
    position: fixed;
}
#screen{
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 50;
}
#notice {
    top: 10%;
    left: 33.333%;
    width: 33.333%;
    background-color: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    z-index: 100;
}
.notice-wrap, .login-wrap {
    padding: 30px;
    width: 100%;
    text-align: center;
}
#notice img {
    width: 100%;
    display: inline-block;
    width: 70%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.notice-btn {
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    background-color: #666;
    color: #fff;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.notice-btn:hover {
    background-color: #111;
    color: #ccc;
    transition: all 0.5s;
}
#login-popup {
    top: 20%;
    left: 33.333%;
    width: 33.333%;
    display: none;
    background-color: #fff;
    z-index: 100;
}
.login-logo {
    float: left;
    width: 100%;
    height: 100px;
}
.login-logo img {
    width: 200px;
    height: 100px;
}
.login-form{
    float: left;
    padding: 50px 0 0 0;
    width: 100%;
    height: 100%;
}
.form-control{
    margin: 10px 0;
    padding: 15px;
    width: 70%;
    height: 50px;
    font-size: 15px;
}
.form-control:focus{
    border: 1px solid #ccc;
    background: #000;
    color: #fff;
}
.btn-primary {
    margin: 50px 0;
    width: 150px;
    height: 40px;
    background: #aaa;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.btn-primary:hover{
    background:#000;
}
.form-control:focus::-webkit-input-placeholder {
    color: #fff;
}
.join-close {
    width: 100%;
    height: 50px;
}
.join-close ul{
    float: right;
    width: 200px;
}
.join-close ul li{
    float: left;
    padding: 10px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    color: #aaa;
}
.join-close ul li:hover{
    color: #000;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 5;
}
.logo{
	float: left;
	width: 20%;
}
.logo-wrap{
	margin-left: 150px;
	width: 100%; 
    height: 100px;
	background: url(../images/logo.png) no-repeat;
}
.header-wrap{
    float: right;
    width: 80%;
}
.sitemap{
    float: left;
    width: 100%;
    height: 30px;
}
.sitemap01 {
    float: left;
    width: 50%;
    font-size: 0;
}
.sitemap ul{
    float: right;
    padding: 10px 200px 0 0;
    width: 50%;
}
.sitemap ul li{
    float: left;
    width: 25%;
    height: 20px;
    text-align: right;
    font-size: 12px;
    color: #aaa;
}
.sitemap ul li:hover{
    color: #000;
}
nav{
	float: left;
	width: 70%;
    height: 70px;
	text-align: center;
}
.nav{
    margin-top: 30px;
	width: 100%;
	height: 30px;
}
.main-menu{
	float: left;
	position: relative;
	padding: 5px 0;
	width: 25%;
	height: 30px;
	transition: all 0.3s;
	text-align: center;
}
.main-menu:hover{
	background-color: #000;
	color: #fff;
}
.sub-menu{
	display: none;
	position: absolute;
	margin-top: 5px;
	width: 100%;
	background-color: rgba(255,255,255,0.6);
	z-index: 5;
}
.sub-menu li{
	padding: 5px 0;
	width: 100%;
	height: 30px;
	color: #000;
	transition: all 0.3s;
}
.sub-menu li:hover{
	background-color: rgba(0,0,0,0.6);
	color: #fff;
}

.sns {
    float: right;
    width: 30%;
    height: 70px;
    text-align: left;
}
.sns a{
	display: inline-block;
    margin: 0 0 0 20px;
	width: 55px;
	height: 55px;
	font-size: 0;
	background: url(../images/sns.gif) no-repeat;
}
.sns a.facebook{
    margin-left: 50px;
	background-position: -131px -43px;
}
.sns a.twitter{
	background-position: -54px -43px;
}

section{
	padding: 0 10%;
	text-align: center;
}
.container h1{
	padding: 10px 0;
	color: #333;
	font-size: 30px;
	border-bottom: 3px solid #000;
}
article{
	padding: 5%;
	width: 100%;
}
.best-seller h2, .new-arrival h2{
	padding: 5px 0 5px 30px;
	text-align: left;
	background-color: #ccc;
	color: #fff;
}
.best-seller ul li{
	float: left;
	width: 25%;
}
.best-seller ul li .wrap{
	position: relative;
	margin: 10px 5px;
}
.best-seller ul li .wrap img{
    position: inherit;
    padding: 20px;
    width: 100%;
	display: block;
	background: #f5f5f5;
}
.best-seller .contents {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: opacity 1s;
}
.best-seller .contents:hover{
	opacity: 1;
}
.best-seller .contents p{
	position: absolute;
	top: 50%;
	padding: 0 30px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	z-index: 5;
}
/* slide*/
.slide {
    position: relative;
    width: 100%;
    height: auto;
}
.owl-carousel {
    margin-top: 10px;
}
.item .wrap img, .men .wrap img {
    padding: 10px;
    background: #f5f5f5;
}
.item .wrap span {
    display: block;
    margin-top: 15px;
    padding: 3px 0;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    font-size: 15px;
}
.item .wrap dl dt {
    padding: 3px 0;
    font-weight: bold;
    color: #000;
}
.item .wrap dl dd:last-child {
    padding: 10px;
    text-align: right;
}
.text-through {
    text-decoration: line-through;
    color: #aaa;
}

.men ul, .women ul, .kids ul{
	margin-top: 30px;
	width: 100%;
}
.men ul li{
	float: left;
	width: 25%;
    transition: all 0.3s;
}
.men ul li:hover .wrap {
    border: 2px solid rgba(0,0,0,0.15);
}
.men .wrap {
    position: relative;
    padding: 20px;
    margin: 10px 5px 50px;
    border: 2px solid #fff;
}
.men .wrap dl dt {
    padding: 10px 0;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}
.men .wrap dl dd:last-child{
	padding: 30px 30px 10px 0;
	text-align: right;
}

.women ul li{
	float: left;
	width: 50%;
}
.women ul li:hover .wrap{
	opacity: 0.8;
}
.women .wrap{
	position: relative;
	padding: 20px;
	overflow: hidden;
}
.women .wrap img{
	float: left;
	padding: 20px;
	width: 50%;
	background: #f5f5f5;
}
.women .wrap dl{
	position: absolute;
	left: 50%; top: 20%; bottom: 0;
	padding: 20px;
	text-align: left;
}
.women .wrap dl dt{
	padding: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	border: 1px solid #ccc;
	text-align: left;
}
.women .wrap dl dd:last-child{
	margin-top: 50px;
}

.kids ul li{
	float: left;
	width: 25%;
}
.kids ul li:hover .wrap{
	border: 2px solid rgba(0,0,0,0.15);
	transition: all 0.3s;
}
.kids .wrap{
	position: relative;
	padding: 25px;
	margin-top: 20px;
	border: 2px solid #fff;	
}
.kids .wrap img{
    width: 100%;
	padding: 15px;
	background: #f5f5f5;
}
.kids .wrap dl dt{
	padding: 10px 0;
	font-weight: bold;
	color: #000;
	border-bottom: 1px solid rgba(0,0,0,0.15);
 }
.kids .wrap dl dd:last-child{
	padding: 30px 30px 10px 0;
	text-align: right;
}

footer{
	margin-top: 50px;
	padding: 50px;
	text-align: center;
	background-color: #666;
	color: #ccc;
}
.copy-right{
	font-size: 15px;
}

#modal {
    display: none;
    left: 33.333%;
    top: 10%;
    width: 33.333%;
    padding: 20px;
    background-color: #fff;
    z-index: 100;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.popup-contents {
    width: 100%;
    text-align: center;
}
.popup-contents.top{
	width: 100%;
	left: 0; top: 0;
}
.popup-contents h3 {
    padding: 10px;
    text-align: left;
    background: #aaa;
    color: #fff;
}
.popup-contents img{
    position: inherit;
    padding: 20px;
    width: 100%;
    background-color: #f5f5f5;
}
#close {
    margin-top: 20px;
    width: 200px;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #000;
    color: #ccc;
}
#close:hover{
	background-color: #666;
	color: #fff;
	transition: all 0.3s;
}

.joinus-wrap{
    padding: 50px;
    width: 960px;
    color: #111;
    font-size: 20px;
}
.joinus-logo {
    width: 100%;
    height: 150px;
    text-align: center;
}
.joinus-logo img{
    width: 300px;
    height: 150px;
}
/*form style*/
.joinus-form {
    margin-left:auto;
    margin-right:auto;
    max-width: 650px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.joinus-form h1 {
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #aaa;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #949494;
}
.joinus-form h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.joinus-form label {
    display: block;
    margin: 0px 0px 5px;
}
.joinus-form label>span {
    float: left;
    margin-top: 10px;
    color: #111;
    font-size: 15px;
}
.joinus-form input[type="text"], .joinus-form input[type="email"], .joinus-form input[type="password"], .joinus-form textarea, .joinus-form select {
    height: 30px;
    line-height: 15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
}
.joinus-form textarea{
    height:100px;
    padding-top: 10px;
}
.joinus-form .button {
    background-color: #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.joinus-form .button:hover {
    background-color:#111;
    transition: all 0.5s;
}